* {
    font-family: American Typewriter, serif;
}

body {
    margin: 0;
    padding: 0;
}

.parallax {
    width: 100%;
    height: 100%;
    position: absolute;
    /* The image used */
    background-image: url("http://localhost:2020/image/header-background2.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    background-color: white;
}

.container-icone {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-menu {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contatos {
    width: 50%;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.li-menu {
    margin: 0 5px;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: rgba(83, 83, 83, 0.336);
    color: white;
    font-weight: 300;
    transition: .3s;
    cursor: pointer;
}

.li-menu:hover {
    background-color: rgb(247, 189, 43);
}

.social-networks {
    width: 25px;
    margin: 0 5px;
    transition: .2s;
    cursor: pointer;
}

.social-networks:hover {
    transform: scale(1.2);
}

.li-detail-hamburger {
    margin: 15px 0;
    font-size: 22px;
    color: rgb(247, 189, 43);
}

.btn-pedir-ja {
    padding: 10px 25px;
    background-color: rgb(247, 189, 43);
    color: white;
    font-size: 28px;
    font-weight: 300;
    border: none;
    box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.36);
    transition: .3s;
    cursor: pointer;
}

.btn-pedir-ja:hover {
    transform: scale(1.1);
}

.container-promocoes {
    width: 33%;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.card-item-novidade {
    width: 430px;
    height: 350px;
    overflow: hidden;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.0);
    transition: .3s;
}

.card-item-novidade:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.2);
}

.titulo-principal span {
    margin: 25px 0;
}

.card-item-novidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}